<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CatFraccionamientosBinding1.2">
                    <textMessageEncoding messageVersion="Soap12"/>
                </binding>
                <binding name="CatPrototiposBinding1.2">
                    <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004"/>
                    <textMessageEncoding messageVersion="Soap12"/>
                </binding>
                <binding name="ManageHomeBinding1.2">
                    <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004"/>
                    <textMessageEncoding messageVersion="Soap12"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.44.49:10711/soa-infra/services/catalog/CatPrototipos/soap" binding="customBinding" bindingConfiguration="CatPrototiposBinding1.2" contract="soaPrototipos.CatPrototiposPortType" name="CatPrototiposPort"/>
            <endpoint address="http://192.168.44.244:10711/soa-infra/services/default/ManageHome/soap" binding="customBinding" bindingConfiguration="ManageHomeBinding1.2" contract="soaBulk.ManageHomePortType" name="ManageHomePort"/>
            <endpoint address="http://192.168.44.244:10711/soa-infra/services/catalog/CatFraccionamientos/soap" binding="customBinding" bindingConfiguration="CatFraccionamientosBinding1.2" contract="soaFracc.CatFraccionamientosPortType" name="CatFraccionamientosPort"/>
            <endpoint address="http://192.168.44.244:10711/soa-infra/services/catalog/CatFraccionamientos/soap" binding="customBinding" bindingConfiguration="CatFraccionamientosBinding1.2" contract="soaFracc.CatFraccionamientosPortType" name="CatFraccionamientosPort1"/>
            <endpoint address="http://192.168.44.244:10711/soa-infra/services/catalog/CatFraccionamientos/soap" binding="customBinding" bindingConfiguration="CatFraccionamientosBinding1.2" contract="soaFracc.CatFraccionamientosPortType" name="CatFraccionamientosPort2"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
